body {
  outline: none !important;
  font-size: 16px;
  padding: 0 2rem;
  color: white;
  font-family: "Belleza", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(196, 147, 134, 1) 100% rgba(241, 223, 212, 1) 0%,
    rgba(231, 193, 183, 1) 18%,
    rgba(196, 147, 134, 1) 100%
  );
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;

  #header {
    top: 0;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    position: fixed;
    align-items: center;
    width: 97%;
    height: 3rem;

    .logo {
      font-weight: bold;
      padding: 0;
    }

    .right-items {
      display: flex;
      width: max-content;

      .user-account {
      }

      .cart {
        margin-left: 2rem;
      }
    }
  }

  #main {
    margin-top: 5rem;
    width: 50%;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .branding-content {
        object-fit: cover;
        max-height: 459px;
        box-shadow: 1px 1px 30px #57241d;
        width: 100%;
        transition: display 0.5s ease-in-out;

        &.hidden {
          display: none;
        }
      }
    }

    .btn-go_to_order {
      margin: 5rem 0;
    }
  }

  #footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .footer-top {
      display: flex;
      justify-content: space-between;
      width: 40%;

      > * {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > :not(:first-child) {
          font-size: 12px;
          margin-bottom: 0.25rem;
        }
      }

      .information {
      }

      .contact {
      }

      .social {
      }
    }

    .footer-bottom {
      width: 30%;
      margin: 5rem 0 2rem 0;
      text-align: center;
    }
  }
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 5rem;
  left: 2rem;
  text-transform: uppercase;

  > * {
    margin-bottom: 0.25rem;
  }
}
